Data/TF02v2_dropout0.2_hsize50_ksize4_levels5_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0_hsize10_ksize5_levels4_lossMSELoss_lr0.0001_optAdam_post0_pred0.csv
Data/TF15v2_dropout0_hsize10_ksize5_levels4_lossMSELoss_lr0.0001_optAdam_post50_pred0.csv
Data/TF15v2_dropout0_hsize10_ksize5_levels4_lossMSELoss_lr0.0001_optAdam_post100_pred0.csv
Data/TF15v2_dropout0_hsize10_ksize5_levels4_lossMSELoss_lr0.0001_optAdam_post150_pred0.csv
Data/TF15v2_dropout0_hsize10_ksize5_levels4_lossMSELoss_lr0.0001_optAdam_post200_pred0.csv
Data/TF15v2_dropout0_hsize10_ksize5_levels4_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0_hsize10_ksize5_levels4_lossMSELoss_lr0.001_optAdam_pred0.csv
Data/TF15v2_dropout0_hsize10_ksize5_levels4_lossMSELoss_lr0.0005_optAdam_pred0.csv
Data/TF15v2_dropout0.1_hsize10_ksize5_levels4_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.1_hsize10_ksize5_levels4_lossMSELoss_lr0.001_optAdam_pred0.csv
Data/TF15v2_dropout0.1_hsize10_ksize5_levels4_lossMSELoss_lr0.0005_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize10_ksize4_levels1_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize10_ksize4_levels2_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize10_ksize4_levels3_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize10_ksize4_levels4_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize10_ksize4_levels5_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize10_ksize5_levels1_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize10_ksize5_levels2_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize10_ksize5_levels3_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize10_ksize5_levels4_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize10_ksize5_levels4_lossMSELoss_lr0.001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize10_ksize5_levels4_lossMSELoss_lr0.0005_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize10_ksize7_levels1_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize10_ksize7_levels2_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize10_ksize7_levels3_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize10_ksize7_levels4_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize10_ksize10_levels1_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize10_ksize10_levels2_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize10_ksize10_levels3_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize10_ksize20_levels1_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize10_ksize20_levels2_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize30_ksize4_levels1_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize30_ksize4_levels2_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize30_ksize4_levels3_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize30_ksize4_levels4_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize30_ksize4_levels5_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize30_ksize5_levels1_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize30_ksize5_levels2_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize30_ksize5_levels3_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize30_ksize5_levels4_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize30_ksize7_levels1_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize30_ksize7_levels2_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize30_ksize7_levels3_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize30_ksize7_levels4_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize30_ksize10_levels1_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize30_ksize10_levels2_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize30_ksize10_levels3_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize30_ksize20_levels1_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize30_ksize20_levels2_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize50_ksize4_levels1_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize50_ksize4_levels2_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize50_ksize4_levels3_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize50_ksize4_levels4_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize50_ksize4_levels5_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize50_ksize5_levels1_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize50_ksize5_levels2_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize50_ksize5_levels3_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize50_ksize5_levels4_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize50_ksize7_levels1_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize50_ksize7_levels2_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize50_ksize7_levels3_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize50_ksize7_levels4_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize50_ksize10_levels1_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize50_ksize10_levels2_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize50_ksize10_levels3_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize50_ksize20_levels1_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize50_ksize20_levels2_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize80_ksize4_levels1_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize80_ksize4_levels2_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize80_ksize4_levels3_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize80_ksize4_levels4_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize80_ksize4_levels5_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize80_ksize5_levels1_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize80_ksize5_levels2_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize80_ksize5_levels3_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize80_ksize5_levels4_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize80_ksize7_levels1_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize80_ksize7_levels2_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize80_ksize7_levels3_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize80_ksize7_levels4_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize80_ksize10_levels1_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize80_ksize10_levels2_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize80_ksize10_levels3_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize80_ksize20_levels1_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.2_hsize80_ksize20_levels2_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.3_hsize10_ksize5_levels4_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.3_hsize10_ksize5_levels4_lossMSELoss_lr0.001_optAdam_pred0.csv
Data/TF15v2_dropout0.3_hsize10_ksize5_levels4_lossMSELoss_lr0.0005_optAdam_pred0.csv
Data/TF15v2_dropout0.4_hsize10_ksize5_levels4_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.4_hsize10_ksize5_levels4_lossMSELoss_lr0.001_optAdam_pred0.csv
Data/TF15v2_dropout0.4_hsize10_ksize5_levels4_lossMSELoss_lr0.0005_optAdam_pred0.csv
Data/TF15v2_dropout0.5_hsize10_ksize5_levels4_lossMSELoss_lr0.0001_optAdam_pred0.csv
Data/TF15v2_dropout0.5_hsize10_ksize5_levels4_lossMSELoss_lr0.001_optAdam_pred0.csv
Data/TF15v2_dropout0.5_hsize10_ksize5_levels4_lossMSELoss_lr0.0005_optAdam_pred0.csv
